@charset "UTF-8";
/*---------------------------------

  footer

---------------------------------*/
footer {
  background-color: #BE9461;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .footer_img {
  width: 50%;
}
@media screen and (max-width: 1199px) {
  footer .footer_img {
    width: 100%;
    height: 200px;
  }
}
footer .footer_img img {
  height: 100%;
  object-fit: cover;
}
footer .text_wrap {
  width: 50%;
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1199px) {
  footer .text_wrap {
    width: 100%;
  }
}
footer .text_wrap > p {
  line-height: 1.8;
  font-size: 2.2rem;
  color: #fff;
  padding: 7rem 8rem;
}
@media screen and (max-width: 1199px) {
  footer .text_wrap > p {
    font-size: 1.8rem;
    padding: 3rem;
    text-align: center;
  }
}
@media screen and (max-width: 630px) {
  footer .text_wrap > p {
    font-size: 1.4rem;
  }
}
footer .text_wrap .link_wrap {
  margin-top: auto;
  background-color: #6E3A1D;
  padding: 2.6rem 3rem;
  color: #fff;
}
@media screen and (max-width: 630px) {
  footer .text_wrap .link_wrap {
    padding: 1.2rem;
  }
}
footer .text_wrap .link_wrap p {
  font-size: 1.4rem;
  text-align: right;
  margin-bottom: 1.5rem;
}
footer .text_wrap .link_wrap ul {
  font-size: 1.2rem;
  display: flex;
  justify-content: right;
  padding-right: 3rem;
}
@media screen and (max-width: 630px) {
  footer .text_wrap .link_wrap ul {
    padding-right: 0;
  }
}
footer .text_wrap .link_wrap ul li {
  margin: 0 0.3rem;
}
footer .text_wrap .link_wrap ul li:not(:last-child)::after {
  content: "/";
  margin-left: 0.3rem;
}

/*---------------------------------

  共通

---------------------------------*/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Hannari", "Hiragino Mincho Pro";
  font-style: normal;
  font-size: 1.6em;
  color: #000;
  line-height: 1.7;
  background-color: #fff;
}

a {
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  opacity: 0.7;
}

button:hover {
  opacity: 0.7;
}

img {
  width: 100%;
}

.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 1199px) {
  .br_pc {
    display: none;
  }
}

.br_tab {
  display: none;
}
@media screen and (max-width: 1199px) {
  .br_tab {
    display: block;
  }
}

.br_sp {
  display: none;
}
@media screen and (max-width: 630px) {
  .br_sp {
    display: block;
  }
}

.fade_up {
  transform: translateY(50px);
  opacity: 0;
}

.fade_up.is-active {
  transition: 1s;
  transform: translateY(0);
  opacity: 1;
}

/*---------------------------------

  mv, top_text

---------------------------------*/
.mv {
  position: relative;
  background-image: url(../img/mv_bg.png);
  background-size: cover;
  padding: 130px 0;
}
@media screen and (max-width: 630px) {
  .mv {
    padding: 40px 0;
  }
}
.mv img {
  margin: 0 auto;
  width: min(867px, 90%);
}

.top_text {
  position: relative;
}
.top_text::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #6E3A1D;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.top_text::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #6E3A1D;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.top_text .inner {
  position: relative;
  z-index: 3;
  width: min(1120px, 90%);
  margin: 0 auto;
  border-left: 1px solid #6E3A1D;
  border-right: 1px solid #6E3A1D;
  padding: 60px 70px 16px;
  text-align: center;
  background-color: #fff;
}
@media screen and (max-width: 630px) {
  .top_text .inner {
    padding: 30px 20px 16px;
  }
}
.top_text p:nth-child(1) {
  font-size: 6rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 630px) {
  .top_text p:nth-child(1) {
    font-size: 3rem;
  }
}
.top_text p:nth-child(2) {
  font-size: 2rem;
  margin-bottom: 5rem;
}
@media screen and (max-width: 630px) {
  .top_text p:nth-child(2) {
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
}
.top_text p:nth-child(3), .top_text p:nth-child(5) {
  font-size: 3rem;
  color: #6E3A1D;
}
@media screen and (max-width: 630px) {
  .top_text p:nth-child(3), .top_text p:nth-child(5) {
    font-size: 1.8rem;
  }
}
.top_text p:nth-child(4) {
  font-size: 1.6rem;
  margin: 2rem 0;
  color: #6E3A1D;
}
@media screen and (max-width: 630px) {
  .top_text p:nth-child(4) {
    font-size: 1.4rem;
  }
}
.top_text p:nth-child(6) {
  font-size: 1.6rem;
  margin: 3rem 0 6rem;
}
@media screen and (max-width: 630px) {
  .top_text p:nth-child(6) {
    font-size: 1.4rem;
    margin: 1rem 0 3rem;
  }
}
.top_text p:nth-child(7) {
  font-size: 1rem;
}

/*---------------------------------

  intro

---------------------------------*/
.intro {
  position: relative;
  background-image: url(../img/intro_bg.png);
  background-size: cover;
  padding: 20px 0;
}
.intro img {
  margin: 0 auto;
  width: min(1200px, 90%);
}

/*---------------------------------

  menu

---------------------------------*/
.menu {
  width: min(1120px, 90%);
  margin: 0 auto;
  border-left: 1px solid #6E3A1D;
  border-right: 1px solid #6E3A1D;
  padding: 6rem 0 9rem;
}
.menu p {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 6rem;
}
@media screen and (max-width: 1199px) {
  .menu p {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 630px) {
  .menu p {
    font-size: 1.4rem;
  }
}
.menu ul {
  width: min(800px, 95%);
  padding-left: 3rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .menu ul {
    flex-direction: column;
    padding-left: 0rem;
  }
}
.menu ul::before {
  content: "ーMENU";
  position: absolute;
  font-size: 3rem;
  left: -3rem;
  color: #8D8D8D;
  transform: rotate(90deg);
}
@media screen and (max-width: 1199px) {
  .menu ul::before {
    transform: rotate(0deg);
    position: relative;
    left: inherit;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
.menu ul li {
  width: calc(100% - 6rem);
  border-bottom: 1px solid #8D8D8D;
}
.menu ul li:first-of-type {
  border-top: 1px solid #8D8D8D;
}
.menu ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #8D8D8D;
  padding: 2.6rem 2.6rem 2.6rem 1rem;
  font-size: 1.8rem;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .menu ul li a {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 630px) {
  .menu ul li a {
    font-size: 1.4rem;
    padding: 1rem 2.6rem 1rem 1rem;
  }
}
.menu ul li a::after {
  content: " ";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/menu_arrow.svg);
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1199px) {
  .menu ul li a::after {
    width: 25px;
    height: 25px;
  }
}

/*---------------------------------

  items

---------------------------------*/
.items {
  border-top: 1px solid #000;
}
.items .item {
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .items .item {
    flex-direction: column;
    margin: 1rem auto;
  }
}
.items .item img {
  width: min(960px, 50%);
  position: absolute;
  z-index: 3;
}
@media screen and (max-width: 1199px) {
  .items .item img {
    position: relative;
    width: 95%;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
}
.items .item .text_wrap {
  background-color: #EEEEEE;
  width: 70%;
}
@media screen and (max-width: 1199px) {
  .items .item .text_wrap {
    width: 100%;
  }
}
.items .item .text_wrap .title {
  font-size: 2.8rem;
  border-bottom: 1px solid #000;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1199px) {
  .items .item .text_wrap .title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 630px) {
  .items .item .text_wrap .title {
    padding-bottom: 1rem;
  }
}
.items .item .text_wrap .text {
  font-size: 1.8rem;
}
@media screen and (max-width: 1199px) {
  .items .item .text_wrap .text {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 630px) {
  .items .item .text_wrap .text {
    font-size: 1.4rem;
  }
}
.items .item:first-child {
  justify-content: right;
}
.items .item:first-child img {
  order: 1;
  left: 0;
  top: 20%;
}
.items .item:first-child .text_wrap {
  order: 2;
  padding: 20rem 0 6% 25%;
}
@media screen and (max-width: 1199px) {
  .items .item:first-child .text_wrap {
    padding: 2rem;
  }
}
.items .item:nth-child(2) {
  margin-top: 15%;
}
@media screen and (max-width: 1199px) {
  .items .item:nth-child(2) {
    margin-top: 2rem;
  }
}
.items .item:nth-child(2) img {
  right: 0;
  top: -15%;
}
.items .item:nth-child(2) .text_wrap {
  padding: 6rem 18% 6rem 10rem;
}
@media screen and (max-width: 1199px) {
  .items .item:nth-child(2) .text_wrap {
    padding: 2rem;
  }
}

/*---------------------------------

  shikumi

---------------------------------*/
.shikumi {
  background-color: #FDFFE3;
  padding-top: 9rem;
}
@media screen and (max-width: 1199px) {
  .shikumi {
    padding-top: 3rem;
  }
}
.shikumi .title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2.8rem;
}
@media screen and (max-width: 1199px) {
  .shikumi .title {
    font-size: 1.8rem;
  }
}
.shikumi .title::after {
  content: " ";
  width: 100px;
  height: 1px;
  background-color: #000;
  display: inline-block;
  margin-top: 3rem;
}
@media screen and (max-width: 1199px) {
  .shikumi .title::after {
    width: 60px;
    margin-top: 1.8rem;
  }
}
.shikumi .img_wrap {
  position: relative;
}
.shikumi .img_wrap img {
  width: min(900px, 88%);
  margin: 5rem auto;
}
.shikumi .hyakutomo {
  position: relative;
  z-index: 3;
  width: min(1120px, 90%);
  margin: 0 auto;
  background-color: #fff;
  padding: 3rem 16rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 1199px) {
  .shikumi .hyakutomo {
    padding: 3rem 1rem;
    font-size: 1.4rem;
  }
}
.shikumi .hyakutomo > div {
  text-align: center;
  width: 53%;
}
@media screen and (max-width: 1199px) {
  .shikumi .hyakutomo > div {
    width: 100%;
  }
}
.shikumi .hyakutomo > div img {
  width: 50%;
  margin: 2.4rem auto;
}
@media screen and (max-width: 1199px) {
  .shikumi .hyakutomo > div img {
    width: 60%;
    margin-bottom: 2rem;
  }
}
.shikumi .hyakutomo > img {
  width: 45%;
}
@media screen and (max-width: 1199px) {
  .shikumi .hyakutomo > img {
    width: 100%;
    margin-top: 3rem;
  }
}
.shikumi .btn_wrap {
  background-color: #EEEEEE;
  position: relative;
  z-index: 2;
  margin-top: -6%;
  padding: 10% 0 4%;
}
.shikumi .btn_wrap a {
  width: min(800px, 90%);
  margin: 0 auto;
  border-radius: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 13px 0;
  justify-content: center;
  background-color: #C7000B;
  color: #fff;
  font-size: 2.4rem;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .shikumi .btn_wrap a {
    font-size: 1.8rem;
  }
}
.shikumi .btn_wrap a::after {
  content: " ";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4rem;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 28px;
  height: 36px;
}
@media screen and (max-width: 1199px) {
  .shikumi .btn_wrap a::after {
    width: 20px;
    height: 25px;
    right: 2rem;
  }
}
@media screen and (max-width: 630px) {
  .shikumi .btn_wrap a::after {
    width: 10px;
    height: 13px;
    right: 1rem;
  }
}

.header {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1199px) {
  .header {
    height: 120px;
  }
}
.header img {
  width: min(900px, 90%);
}

/*---------------------------------

  募集要項ページ、ご利用の流れページ共通

---------------------------------*/
.requirements .header,
.flow .header {
  background-image: url(../img/header_bg.png);
}
.requirements .contents,
.flow .contents {
  background-color: #D9D8D8;
  padding: 6rem 0 10rem;
}
.requirements .contents > .title,
.flow .contents > .title {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 4rem;
}
@media screen and (max-width: 1199px) {
  .requirements .contents > .title,
  .flow .contents > .title {
    font-size: 2rem;
  }
}
.requirements .contents .inner,
.flow .contents .inner {
  width: min(1120px, 90%);
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 6rem 8rem;
}
@media screen and (max-width: 1199px) {
  .requirements .contents .inner,
  .flow .contents .inner {
    padding: 3rem 4rem;
  }
}
@media screen and (max-width: 630px) {
  .requirements .contents .inner,
  .flow .contents .inner {
    padding: 3rem 1.5rem;
  }
}

/*---------------------------------

  募集要項ページ

---------------------------------*/
.requirements .contents .inner .title {
  text-align: center;
  border-bottom: 1px solid #000;
  font-size: 2.4rem;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}
@media screen and (max-width: 1199px) {
  .requirements .contents .inner .title {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 630px) {
  .requirements .contents .inner .title {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
.requirements .contents .inner .text {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1199px) {
  .requirements .contents .inner .text {
    text-align: left;
  }
}
@media screen and (max-width: 630px) {
  .requirements .contents .inner .text {
    font-size: 1.4rem;
  }
}
.requirements .contents .inner .sb_title {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 2.8rem;
  margin-top: 6rem;
}
@media screen and (max-width: 630px) {
  .requirements .contents .inner .sb_title {
    font-size: 1.6rem;
  }
}
.requirements .contents .inner ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media screen and (max-width: 1199px) {
  .requirements .contents .inner ul {
    justify-content: space-between;
  }
}
.requirements .contents .inner ul li {
  text-align: center;
  font-size: 1.8rem;
  width: calc((100% - 75px) / 4);
  background-color: #BE9461;
  height: 8rem;
  color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
@media screen and (max-width: 1199px) {
  .requirements .contents .inner ul li {
    font-size: 1.6rem;
    width: 32%;
  }
}
@media screen and (max-width: 630px) {
  .requirements .contents .inner ul li {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
}
.requirements .contents .inner ul li:not(:nth-child(4)) {
  margin-right: 25px;
}
@media screen and (max-width: 1199px) {
  .requirements .contents .inner ul li:not(:nth-child(4)) {
    margin-right: inherit;
  }
}

/*---------------------------------

  ご利用の流れページ

---------------------------------*/
.flow .inner .title {
  text-align: center;
  border-radius: 10px;
  font-size: 2rem;
  padding: 9px 0;
  width: min(400px, 100%);
  color: #fff;
  margin: 0 auto 3rem;
}
@media screen and (max-width: 630px) {
  .flow .inner .title {
    font-size: 1.8rem;
  }
}
.flow .inner .title_red {
  background-color: #C7000B;
}
.flow .inner .title_blue {
  background-color: #19007E;
}
.flow .inner dl div {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 1.4rem 2rem;
  background-color: #FDFFE3;
  text-align: center;
  margin-bottom: 5rem;
  position: relative;
}
.flow .inner dl div:not(:last-child)::after {
  content: " ";
  background-image: url(../img/arrow_black.svg);
  width: 16px;
  height: 40px;
  position: absolute;
  background-size: contain;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}
.flow .inner dl div dt {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 630px) {
  .flow .inner dl div dt {
    font-size: 1.8rem;
  }
}
.flow .inner dl div dt span {
  border-radius: 30px;
  font-size: 2rem;
  padding: 2px 5px;
  margin-right: 5px;
  color: #fff;
}
.flow .inner dl div dt span.red {
  background-color: #C7000B;
}
.flow .inner dl div dt span.blue {
  background-color: #19007E;
}
.flow .inner dl div dd {
  font-size: 1.8rem;
}
@media screen and (max-width: 630px) {
  .flow .inner dl div dd {
    text-align: left;
    font-size: 1.4rem;
  }
}

/*---------------------------------

  プロフィール

---------------------------------*/
.profile.profile01 .header {
  background-image: url(../img/header_bg_profile1.png);
}
.profile.profile02 .header {
  background-image: url(../img/header_bg_profile2.png);
}
.profile.profile03 .header {
  background-image: url(../img/header_bg_profile3.png);
}
.profile.profile04 .header {
  background-image: url(../img/header_bg_profile4.png);
}
.profile .contents {
  border-bottom: 1px solid #6E3A1D;
}
.profile .contents .inner {
  width: min(1280px, 90%);
  margin: 0 auto;
  border-left: 1px solid #6E3A1D;
  border-right: 1px solid #6E3A1D;
  padding: 5rem 5%;
}
.profile .contents .img_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.profile .contents .img_wrap img {
  width: 50%;
}
@media screen and (max-width: 1199px) {
  .profile .contents .img_wrap img {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.profile .contents .img_wrap .text_wrap {
  margin: 0 auto 0 4rem;
}
@media screen and (max-width: 1199px) {
  .profile .contents .img_wrap .text_wrap {
    margin: 0;
  }
}
.profile .contents .img_wrap .text_wrap .company_name {
  font-size: 4rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1199px) {
  .profile .contents .img_wrap .text_wrap .company_name {
    font-size: 3rem;
  }
}
@media screen and (max-width: 630px) {
  .profile .contents .img_wrap .text_wrap .company_name {
    font-size: 2.2rem;
    margin-bottom: 0.6rem;
  }
}
.profile .contents .img_wrap .text_wrap .company_title {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 630px) {
  .profile .contents .img_wrap .text_wrap .company_title {
    font-size: 1.4rem;
  }
}
.profile .contents .img_wrap .text_wrap .name {
  font-size: 2.6rem;
}
@media screen and (max-width: 1199px) {
  .profile .contents .img_wrap .text_wrap .name {
    font-size: 2rem;
  }
}
@media screen and (max-width: 630px) {
  .profile .contents .img_wrap .text_wrap .name {
    font-size: 1.6rem;
  }
}
.profile .contents .text_block {
  margin-bottom: 5rem;
}
.profile .contents .text_block .title {
  font-size: 2rem;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 630px) {
  .profile .contents .text_block .title {
    font-size: 1.6rem;
  }
}
.profile .contents .text_block .text {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.profile .contents .text_block .text span.red {
  color: #C7000B;
}
@media screen and (max-width: 630px) {
  .profile .contents .text_block .text {
    font-size: 1.4rem;
  }
}
.profile .contents .profile_items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 5rem;
}
.profile .contents .profile_items .item {
  width: 23%;
}
@media screen and (max-width: 1199px) {
  .profile .contents .profile_items .item {
    width: 48%;
    margin-bottom: 2rem;
  }
}
.profile .contents .profile_items .item p {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
@media screen and (max-width: 630px) {
  .profile .contents .profile_items .item p {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
  }
}
.profile .contents .btn_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.profile .contents .btn_wrap a {
  width: 48%;
  margin-bottom: 2rem;
  color: #fff;
  border-radius: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 13px 0;
  justify-content: center;
  background-color: #C7000B;
  color: #fff;
  font-size: 2rem;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .profile .contents .btn_wrap a {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 630px) {
  .profile .contents .btn_wrap a {
    font-size: 1.4rem;
    padding: 6px 0;
    width: 100%;
  }
}
.profile .contents .btn_wrap a::after {
  content: " ";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 20px;
}
@media screen and (max-width: 630px) {
  .profile .contents .btn_wrap a::after {
    width: 10px;
    height: 13px;
    right: 1rem;
  }
}

.profile02 .item:last-child,
.profile03 .item:last-child {
  margin: 0 auto 0 20px;
}
@media screen and (max-width: 1199px) {
  .profile02 .item:last-child,
  .profile03 .item:last-child {
    margin: inherit;
  }
}

/*---------------------------------

  ラインナップ

---------------------------------*/
.lineup .header {
  background-image: url(../img/header_bg_lineup.png);
}
.lineup .contents {
  border-bottom: 1px solid #6E3A1D;
}
.lineup .lineup_title {
  width: min(1280px, 90%);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  border-left: 1px solid #6E3A1D;
  border-right: 1px solid #6E3A1D;
  border-bottom: 1px solid #6E3A1D;
}
@media screen and (max-width: 630px) {
  .lineup .lineup_title {
    padding: 3rem 0;
  }
}
.lineup .lineup_title p {
  width: min(900px, 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 5rem;
}
@media screen and (max-width: 630px) {
  .lineup .lineup_title p {
    font-size: 3rem;
  }
}
.lineup .lineup_title p span {
  color: #8D8D8D;
  font-size: 3rem;
}
@media screen and (max-width: 630px) {
  .lineup .lineup_title p span {
    font-size: 1.6rem;
  }
}
.lineup .item_wrap {
  background-color: #FDFFE3;
}
.lineup .item_wrap:nth-child(3) {
  background-color: #FFDEAC;
}
.lineup .item_wrap:nth-child(4) {
  background-color: #F2FFCE;
}
.lineup .item_wrap:nth-child(4) .item img {
  order: 2;
}
@media screen and (max-width: 1199px) {
  .lineup .item_wrap:nth-child(4) .item img {
    order: 1;
  }
}
.lineup .item_wrap:nth-child(4) .item .text_wrap {
  order: 1;
  margin: 0 auto 0 6rem !important;
}
@media screen and (max-width: 1199px) {
  .lineup .item_wrap:nth-child(4) .item .text_wrap {
    order: 2;
    margin: 1rem auto 0 3rem !important;
  }
}
.lineup .item_wrap:nth-child(5) {
  background-color: #DAF8FF;
}
.lineup .item_wrap .inner {
  width: min(1280px, 90%);
  margin: 0 auto;
  border-left: 1px solid #6E3A1D;
  border-right: 1px solid #6E3A1D;
  padding: 6rem 0;
}
.lineup .item_wrap .name_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
@media screen and (max-width: 630px) {
  .lineup .item_wrap .name_wrap {
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }
}
.lineup .item_wrap .name_wrap p {
  font-size: 4rem;
  margin-right: 2rem;
}
@media screen and (max-width: 630px) {
  .lineup .item_wrap .name_wrap p {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
.lineup .item_wrap .name_wrap a {
  width: 320px;
  border-radius: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 13px 0;
  justify-content: center;
  background-color: #C7000B;
  color: #fff;
  font-size: 2rem;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .lineup .item_wrap .name_wrap a {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 630px) {
  .lineup .item_wrap .name_wrap a {
    padding: 8px 0;
  }
}
.lineup .item_wrap .name_wrap a::after {
  content: " ";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 20px;
}
@media screen and (max-width: 630px) {
  .lineup .item_wrap .name_wrap a::after {
    width: 10px;
    height: 13px;
  }
}
.lineup .item_wrap .item {
  position: relative;
  margin-bottom: 6%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .lineup .item_wrap .item {
    flex-wrap: wrap;
  }
}
.lineup .item_wrap .item img {
  margin: 0 calc(60% - 60vw);
  width: 60vw;
}
@media screen and (max-width: 1199px) {
  .lineup .item_wrap .item img {
    margin: 0 auto;
    width: 90%;
  }
}
.lineup .item_wrap .item .text_wrap {
  width: max-content;
  z-index: 3;
}
.lineup .item_wrap .item .text_wrap p {
  line-height: 1;
}
.lineup .item_wrap .item .text_wrap p:nth-child(1) {
  font-size: 2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 630px) {
  .lineup .item_wrap .item .text_wrap p:nth-child(1) {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}
.lineup .item_wrap .item .text_wrap p:nth-child(2) {
  font-size: 4rem;
}
.lineup .item_wrap .item .text_wrap p:nth-child(2) span {
  font-size: 1.6rem;
}
@media screen and (max-width: 630px) {
  .lineup .item_wrap .item .text_wrap p:nth-child(2) {
    font-size: 2.8rem;
  }
}
.lineup .item_wrap .item:nth-of-type(even) .text_wrap {
  margin: 0 15% 0 auto;
}
@media screen and (max-width: 1199px) {
  .lineup .item_wrap .item:nth-of-type(even) .text_wrap {
    margin: 1rem auto 0 3rem;
  }
}
.lineup .item_wrap .item:nth-of-type(odd) img {
  order: 2;
}
@media screen and (max-width: 1199px) {
  .lineup .item_wrap .item:nth-of-type(odd) img {
    order: 1;
  }
}
.lineup .item_wrap .item:nth-of-type(odd) .text_wrap {
  order: 1;
  margin: 0 auto 0 6rem;
}
@media screen and (max-width: 1199px) {
  .lineup .item_wrap .item:nth-of-type(odd) .text_wrap {
    order: 2;
    margin: 1rem auto 0 3rem;
  }
}/*# sourceMappingURL=style.css.map */