@charset "UTF-8";
/*---------------------------------

  header

---------------------------------*/
/*---------------------------------

  footer

---------------------------------*/
footer {
  background-color: #000;
  padding: 8px 0;
  margin-top: auto;
}
@media screen and (max-width: 630px) {
  footer {
    padding: 8px 0;
  }
}

/*---------------------------------

  共通

---------------------------------*/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Hannari";
  font-style: normal;
  font-size: 1.6em;
  color: #000;
  line-height: 1.7;
  background-color: #fff;
}

a {
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  opacity: 0.7;
}

button:hover {
  opacity: 0.7;
}

img {
  width: 100%;
}

.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 1199px) {
  .br_pc {
    display: none;
  }
}

.br_tab {
  display: none;
}
@media screen and (max-width: 1199px) {
  .br_tab {
    display: block;
  }
}

.br_sp {
  display: none;
}
@media screen and (max-width: 630px) {
  .br_sp {
    display: block;
  }
}

/*---------------------------------

  mv, top_text

---------------------------------*/
.mv {
  position: relative;
  background-image: url(../img/mv_bg.png);
  background-size: cover;
  padding: 130px 0;
}
.mv img {
  margin: 0 auto;
  width: min(867px, 90%);
}

.top_text {
  position: relative;
}
.top_text::before {
  content: " ";
  position: absolute;
  width: 20%;
  height: 1px;
  background-color: #6E3A1D;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.top_text::after {
  content: " ";
  position: absolute;
  width: 20%;
  height: 1px;
  background-color: #6E3A1D;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.top_text .inner {
  position: relative;
  z-index: 3;
  width: min(1120px, 90%);
  margin: 0 auto;
  border-left: 1px solid #6E3A1D;
  border-right: 1px solid #6E3A1D;
  padding: 60px 70px 16px;
  text-align: center;
  background-color: #fff;
}
.top_text p:nth-child(1) {
  font-size: 6rem;
  margin-bottom: 2rem;
}
.top_text p:nth-child(2) {
  font-size: 2rem;
  margin-bottom: 5rem;
}
.top_text p:nth-child(3), .top_text p:nth-child(5) {
  font-size: 3rem;
  color: #6E3A1D;
}
.top_text p:nth-child(4) {
  font-size: 1.6rem;
  margin: 2rem 0;
  color: #6E3A1D;
}
.top_text p:nth-child(6) {
  font-size: 1.6rem;
  margin: 3rem 0 6rem;
}
.top_text p:nth-child(7) {
  font-size: 1rem;
}

/*---------------------------------

  intro

---------------------------------*/
.intro {
  position: relative;
  background-image: url(../img/intro_bg.png);
  background-size: cover;
  padding: 20px 0;
}
.intro img {
  margin: 0 auto;
  width: min(1200px, 90%);
}

/*---------------------------------

  menu

---------------------------------*/
.menu {
  width: min(1120px, 90%);
  margin: 0 auto;
  border-left: 1px solid #6E3A1D;
  border-right: 1px solid #6E3A1D;
  padding: 6rem 0 9rem;
}
.menu p {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 6rem;
}
.menu ul {
  width: min(800px, 90%);
  padding-left: 3rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
}
.menu ul::before {
  content: "ーMENU";
  position: absolute;
  font-size: 3rem;
  left: -3rem;
  color: #8D8D8D;
  transform: rotate(90deg);
}
.menu ul li {
  width: calc(100% - 6rem);
  border-bottom: 1px solid #8D8D8D;
}
.menu ul li:first-of-type {
  border-top: 1px solid #8D8D8D;
}
.menu ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #8D8D8D;
  padding: 2.6rem 0 2.6rem 10px;
}
.menu ul li a::after {
  content: " ";
  background-image: url(../img/menu_arrow.svg);
  width: 35px;
  height: 35px;
  background-size: cover;
}

/*---------------------------------

  items

---------------------------------*/
.items .item {
  display: flex;
  align-items: center;
}
.items .item:first-child img {
  order: 1;
}
.items .item:first-child .text_wrap {
  order: 2;
}
.items .item img {
  width: 50%;
}
.items .item .text_wrap .title {
  font-size: 2.8rem;
  border-bottom: 1px solid #000;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.items .item .text_wrap .text {
  font-size: 1.8rem;
}/*# sourceMappingURL=style.css.map */