$main_color: #6E3A1D;
$text_color: #000;

//ブレイクポイント
$breakpoints: (
  "tab": "screen and (max-width: 1199px)",
  "sp": "screen and (max-width: 630px)",
  "5s": "screen and (max-width: 332px)",
);

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
};

@mixin mq($breakpoint: tab) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
};



@mixin inner {
  width: min( 1120px, 90%);
  margin: 0 auto;
}

