@use "common";

/*---------------------------------

  共通

---------------------------------*/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Hannari";
  font-style: normal;
  font-size: 1.6em;
  color: common.$text_color;
  line-height: 1.7;
  background-color: #fff;
}
a {
  text-decoration: none;
  transition: .5s;
  &:hover {
    opacity: .7;
  }
}
button {
  &:hover {
    opacity: .7;
  }
}
img {
  width: 100%;
}
.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

//pcのみ改行
.br_pc {
  @include common.mq('tab') {
    display: none;
  }
}
//tabサイズ以下で改行
.br_tab {
  display: none;
  @include common.mq('tab') {
    display: block;
  }
}
//spのみで改行
.br_sp {
  display: none;
  @include common.mq('sp') {
    display: block;
  }
}



//下からフェードアップして表示
.fade_up{
  transform: translateY(50px);
  opacity: 0;
}

.fade_up.is-active {
  transition: 1s;
  transform: translateY(0);
  opacity: 1;
}

/*---------------------------------

  mv, top_text

---------------------------------*/
.mv {
  position: relative;
  background-image: url(../img/mv_bg.png);
  background-size: cover;
  padding: 130px 0;
  @include common.mq('sp') {
    padding: 40px 0;
  }
  img {
    margin: 0 auto;
    width: min(867px, 90%);
  }
}

.top_text {
  position: relative;
  &::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: common.$main_color;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  &::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: common.$main_color;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  .inner {
    position: relative;
    z-index: 3;
    @include common.inner;
    border-left: 1px solid common.$main_color;
    border-right: 1px solid common.$main_color;
    padding: 60px 70px 16px;
    text-align: center;
    background-color: #fff;
    @include common.mq('sp') {
      padding: 30px 20px 16px;
    }
  }
  p {
    &:nth-child(1) {
      font-size: 6rem;
      margin-bottom: 2rem;
      @include common.mq('sp') {
        font-size: 3rem;
      }
    }
    &:nth-child(2) {
      font-size: 2rem;
      margin-bottom: 5rem;
      @include common.mq('sp') {
        font-size: 1.4rem;
        margin-bottom: 3rem;
      }
    }
    &:nth-child(3),
    &:nth-child(5) {
      font-size: 3rem;
      color: common.$main_color;
      @include common.mq('sp') {
        font-size: 1.8rem;
      }
    }
    &:nth-child(4) {
      font-size: 1.6rem;
      margin: 2rem 0;
      color: common.$main_color;
      @include common.mq('sp') {
        font-size: 1.4rem;
      }
    }
    &:nth-child(6) {
      font-size: 1.6rem;
      margin: 3rem 0 6rem;
      @include common.mq('sp') {
        font-size: 1.4rem;
        margin: 1rem 0 3rem;
      }
    }
    &:nth-child(7) {
      font-size: 1rem;
    }
  }
}


/*---------------------------------

  intro

---------------------------------*/
.intro {
  position: relative;
  background-image: url(../img/intro_bg.png);
  background-size: cover;
  padding: 20px 0;
  img {
    margin: 0 auto;
    width: min(1200px, 90%);
  }
}

/*---------------------------------

  menu

---------------------------------*/
.menu {
  @include common.inner;
  border-left: 1px solid common.$main_color;
  border-right: 1px solid common.$main_color;
  padding: 6rem 0 9rem;
  p {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 6rem;
    @include common.mq('tab') {
      font-size: 1.6rem;
    }
    @include common.mq('sp') {
      font-size: 1.4rem;
    }
  }
  ul {
    width: min(800px, 95%);
    padding-left: 3rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative;
    @include common.mq('tab') {
      flex-direction: column;
      padding-left: 0rem;
    }
    &::before {
      content: "ーMENU";
      position: absolute;
      font-size: 3rem;
      left: -3rem;
      color: #8D8D8D;
      transform: rotate(90deg);
      @include common.mq('tab') {
        transform: rotate(0deg);
        position: relative;
        left: inherit;
        font-size: 2rem;
        margin-bottom: 1rem;
      }
    }
    li {
      width: calc(100% - 6rem);
      border-bottom: 1px solid #8D8D8D;
      &:first-of-type {
        border-top: 1px solid #8D8D8D;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        color: #8D8D8D;
        padding: 2.6rem 2.6rem 2.6rem 1rem;
        font-size: 1.8rem;
        position: relative;
        @include common.mq('tab') {
          font-size: 1.6rem;
        }
        @include common.mq('sp') {
          font-size: 1.4rem;
          padding: 1rem 2.6rem 1rem 1rem;
        }
        &::after {
          content: " ";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          background-image: url(../img/menu_arrow.svg);
          width: 35px;
          height: 35px;
          background-size: contain;
          background-repeat: no-repeat;
          @include common.mq('tab') {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
}


/*---------------------------------

  items

---------------------------------*/
.items {
  border-top: 1px solid common.$text_color;
  .item {
    display: flex;
    align-items: center;
    position: relative;
    @include common.mq('tab') {
      flex-direction: column;
      margin: 1rem auto;
    }
    img {
      width: min(960px, 50%);
      position: absolute;
      z-index: 3;
      @include common.mq('tab') {
        position: relative;
        width: 95%;
        border-radius: 10px;
        margin-bottom: 1rem;
      }
    }
    .text_wrap {
      background-color: #EEEEEE;
      width: 70%;
      @include common.mq('tab') {
        width: 100%;
      }
      .title {
        font-size: 2.8rem;
        border-bottom: 1px solid common.$text_color;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        @include common.mq('tab') {
          font-size: 2rem;
        }
        @include common.mq('sp') {
          padding-bottom: 1rem;
        }
      }
      .text {
        font-size: 1.8rem;
        @include common.mq('tab') {
          font-size: 1.6rem;
        }
        @include common.mq('sp') {
          font-size: 1.4rem;
        }
      }
    }
    &:first-child {
      justify-content: right;
      img {
        order: 1;
        left: 0;
        top: 20%;
      }
      .text_wrap {
        order: 2;
        padding: 20rem 0 6% 25%;
        @include common.mq('tab') {
          padding: 2rem;
        }
      }
    }
    &:nth-child(2) {
      margin-top: 15%;
      @include common.mq('tab') {
        margin-top: 2rem;
      }
      img {
        right: 0;
        top: -15%;
      }
      .text_wrap {
        padding: 6rem 18% 6rem 10rem;
        @include common.mq('tab') {
          padding: 2rem;
        }
      }
    }
  }
}

/*---------------------------------

  shikumi

---------------------------------*/

.shikumi {
  background-color: #FDFFE3;
  padding-top: 9rem;
  @include common.mq('tab') {
    padding-top: 3rem;
  }
  .title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.8rem;
    @include common.mq('tab') {
      font-size: 1.8rem;
    }
    &::after {
      content: " ";
      width: 100px;
      height: 1px;
      background-color: common.$text_color;
      display: inline-block;
      margin-top: 3rem;
      @include common.mq('tab') {
        width: 60px;
        margin-top: 1.8rem;
      }
      
    }
  }
  .img_wrap {
    position: relative;
    img {
      width: min(900px, 88%);
      margin: 5rem auto;
    }
  }
  .hyakutomo {
    position: relative;
    z-index: 3;
    @include common.inner;
    background-color: #fff;
    padding: 3rem 16rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include common.mq('tab') {
      padding: 3rem 1rem;
      font-size: 1.4rem;
    }
    > div {
      text-align: center;
      width: 53%;
      @include common.mq('tab') {
        width: 100%;
      }
      img {
        width: 50%;
        margin: 2.4rem auto;
        @include common.mq('tab') {
          width: 60%;
          margin-bottom: 2rem;
        }
      }
    }
    > img {
      width: 45%;
      @include common.mq('tab') {
        width: 100%;
        margin-top: 3rem;
      }
    }
  }
  .btn_wrap {
    background-color: #EEEEEE;
    position: relative;
    z-index: 2;
    margin-top: -6%;
    padding: 10% 0 4%;
    a {
      width: min(800px, 90%);
      margin: 0 auto;
      border-radius: 100px;
      text-align: center;
      display: flex;
      align-items: center;
      padding: 13px 0;
      justify-content: center;
      background-color: #C7000B;
      color: #fff;
      font-size: 2.4rem;
      position: relative;
      @include common.mq('tab') {
        font-size: 1.8rem;
      }
      &::after {
        content: " ";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 4rem;
        background-image: url(../img/arrow.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 28px;
        height: 36px;
        @include common.mq('tab'){
          width: 20px;
          height: 25px;
          right: 2rem;
        }
        @include common.mq('sp'){
          width: 10px;
          height: 13px;
          right: 1rem;
        }
      }
    }
  }
}

.header {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include common.mq('tab'){
    height: 120px;
  }
  img {
    width: min(900px, 90%);
  }
}
/*---------------------------------

  募集要項ページ、ご利用の流れページ共通

---------------------------------*/
.requirements,
.flow {
  .header {
    background-image: url(../img/header_bg.png);
  }
  .contents{
    background-color: #D9D8D8;
    padding: 6rem 0 10rem;
    > .title {
      text-align: center;
      font-size: 4rem;
      margin-bottom: 4rem;
      @include common.mq('tab'){
        font-size: 2rem;
      }
    }
    .inner {
      @include common.inner;
      background-color: #fff;
      border-radius: 10px;
      padding: 6rem 8rem;
      @include common.mq('tab'){
        padding: 3rem 4rem;
      }
      @include common.mq('sp'){
        padding: 3rem 1.5rem;
      }
    }
  }
}


/*---------------------------------

  募集要項ページ

---------------------------------*/
.requirements {
  .contents{
    .inner {
      .title {
        text-align: center;
        border-bottom: 1px solid common.$text_color;
        font-size: 2.4rem;
        padding-bottom: 2rem;
        margin-bottom: 4rem;
        @include common.mq('tab'){
          font-size: 1.8rem;
        }
        @include common.mq('sp'){
          padding-bottom: 1rem;
          margin-bottom: 2rem;
        }
      }
      .text {
        font-size: 1.7rem;
        text-align: center;
        margin-bottom: 2rem;
        @include common.mq('tab'){
          text-align: left;
        }
        @include common.mq('sp'){
          font-size: 1.4rem;
          
        }
      }
      .sb_title {
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 2.8rem;
        margin-top: 6rem;
        @include common.mq('sp'){
          font-size: 1.6rem;
        }
      }
      ul {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        @include common.mq('tab'){
          justify-content: space-between;
        }
        li {
          text-align: center;
          font-size: 1.8rem;
          width: calc( ( 100% - 75px ) / 4 );
          background-color: #BE9461;
          height: 8rem;
          color: #fff;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 25px;
          @include common.mq('tab'){
            font-size: 1.6rem;
            width: 32%;
          }
          @include common.mq('sp'){
            font-size: 1.2rem;
            margin-bottom: 15px;
          }
          &:not(:nth-child(4)) {
            margin-right: 25px;
            @include common.mq('tab'){
              margin-right:inherit;
            }
          }
        }
      }
    }
  }
}

/*---------------------------------

  ご利用の流れページ

---------------------------------*/
.flow {
  .inner {
    .title {
      text-align: center;
      border-radius: 10px;
      font-size: 2rem;
      padding: 9px 0;
      width: min(400px, 100%);
      color: #fff;
      margin: 0 auto 3rem;
      @include common.mq('sp'){
        font-size: 1.8rem;
      }
      &_red {
        background-color: #C7000B;
      }
      &_blue {
        background-color: #19007E;
      }
    }
    dl {
      div {
        border: 2px solid common.$text_color;
        border-radius: 10px;
        padding: 1.4rem 2rem;
        background-color: #FDFFE3;
        text-align: center;
        margin-bottom: 5rem;
        position: relative;
        &:not(:last-child) {
          &::after {
            content: " ";
            background-image: url(../img/arrow_black.svg);
            width: 16px;
            height: 40px;
            position: absolute;
            background-size: contain;
            bottom: -40px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        dt {
          font-size: 2.2rem;
          margin-bottom: 1rem;
          @include common.mq('sp'){
            font-size: 1.8rem;
          }
          span {
            border-radius: 30px;
            font-size: 2rem;
            padding: 2px 5px;
            margin-right: 5px;
            color: #fff;
            &.red {
              background-color: #C7000B;
            }
            &.blue {
              background-color: #19007E;
            }
          }
        }
        dd {
          font-size: 1.8rem;
          @include common.mq('sp'){
            text-align: left;
            font-size: 1.4rem;
          }
        }
      }
    }
  }

}

/*---------------------------------

  プロフィール

---------------------------------*/
.profile {
  &.profile01 {
    .header {
      background-image: url(../img/header_bg_profile1.png);
    }
  }
  &.profile02 {
    .header {
      background-image: url(../img/header_bg_profile2.png);
    }
  }
  &.profile03 {
    .header {
      background-image: url(../img/header_bg_profile3.png);
    }
  }
  &.profile04 {
    .header {
      background-image: url(../img/header_bg_profile4.png);
    }
  }
  .contents {
    border-bottom: 1px solid #6E3A1D;
    .inner {
      width: min(1280px, 90%);
      margin: 0 auto;
      border-left: 1px solid #6E3A1D;
      border-right: 1px solid #6E3A1D;
      padding: 5rem 5%;
    }
    .img_wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 3rem;
      img {
        width: 50%;
        @include common.mq('tab'){
          width: 100%;
          margin-bottom: 1rem;
        }
      }
      .text_wrap {
        margin: 0 auto 0 4rem;
        @include common.mq('tab'){
          margin: 0;
        }
        .company_name {
          font-size: 4rem;
          margin-bottom: 1rem;
          @include common.mq('tab') {
            font-size: 3rem;
          }
          @include common.mq('sp') {
            font-size: 2.2rem;
            margin-bottom: .6rem;
          }
        }
        .company_title {
          font-size: 1.6rem;
          margin-bottom: .5rem;
          @include common.mq('sp') {
            font-size: 1.4rem;
          }
        }
        .name {
          font-size: 2.6rem;
          @include common.mq('tab') {
            font-size: 2rem;
          }
          @include common.mq('sp') {
            font-size: 1.6rem;
          }
        }
      }
    }
    .text_block {
      margin-bottom: 5rem;
      .title {
        font-size: 2rem;
        border-bottom: 1px solid #000;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        @include common.mq('sp') {
          font-size: 1.6rem;
        }
      }
      .text {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        span {
          &.red {
            color: #C7000B;
          }
        }
        @include common.mq('sp') {
          font-size: 1.4rem;
        }
      }
    }
    .profile_items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-end;
      margin-bottom: 5rem;
      .item {
        width: 23%;
        @include common.mq('tab'){
          width: 48%;
          margin-bottom: 2rem;
        }
        p {
          text-align: center;
          margin-bottom: 1rem;
          font-size: 1.4rem;
          @include common.mq('sp') {
            font-size: 1.2rem;
            margin-bottom: .6rem;
          }
        }
      }
    }
    .btn_wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      a {
        width: 48%;
        margin-bottom: 2rem;
        color: #fff;
        border-radius: 100px;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 13px 0;
        justify-content: center;
        background-color: #C7000B;
        color: #fff;
        font-size: 2rem;
        position: relative;
        @include common.mq('tab') {
          font-size: 1.8rem;
        }
        @include common.mq('sp') {
          font-size: 1.4rem;
          padding: 6px 0;
          width: 100%;
        }
        &::after {
        content: " ";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2rem;
        background-image: url(../img/arrow.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 16px;
        height: 20px;
        @include common.mq('sp'){
          width: 10px;
          height: 13px;
          right: 1rem;
        }
        }
      }
    }
  }
}

.profile02,
.profile03 {
  .item:last-child {
    margin: 0 auto 0 20px;
    @include common.mq('tab'){
      margin: inherit;
    }
  }
}

/*---------------------------------

  ラインナップ

---------------------------------*/
.lineup {
  .header {
    background-image: url(../img/header_bg_lineup.png);
  }
  .lineup_title {
    width: min(1280px, 90%);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    border-left: 1px solid #6E3A1D;
    border-right: 1px solid #6E3A1D;
    border-bottom: 1px solid #6E3A1D;
    p {
      width: min(900px, 90%);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 5rem;
      span {
        color: #8D8D8D;
        font-size: 3rem;
      }
    }
  }
  .item_wrap {
    background-color: #FDFFE3;
    .inner {
      width: min(1280px, 90%);
      margin: 0 auto;
      border-left: 1px solid #6E3A1D;
      border-right: 1px solid #6E3A1D;
      padding: 6rem 0;
    }
    .name_wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5rem;
      p {
        font-size: 4rem;
        margin-right: 2rem;
      }
      a {
        width: 320px;
        border-radius: 100px;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 13px 0;
        justify-content: center;
        background-color: #C7000B;
        color: #fff;
        font-size: 2rem;
        position: relative;
        @include common.mq('tab') {
          font-size: 1.6rem;
        }
        &::after {
          content: " ";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 4rem;
          background-image: url(../img/arrow.svg);
          background-repeat: no-repeat;
          background-size: cover;
          width: 28px;
          height: 36px;
          @include common.mq('tab'){
            width: 20px;
            height: 25px;
            right: 2rem;
          }
          @include common.mq('sp'){
            width: 10px;
            height: 13px;
            right: 1rem;
          }
        }
      }
    }
  }
}